# Common
SECRET_KEY=kobl@t=yw9d*0y%jt2gjnq78=u!z_rrxb&w8e47l!(jz@m79zy
DEBUG=True

# Database
POSTGRES_DB=eco_db
POSTGRES_USER=eco_user
POSTGRES_PASSWORD=eco_pass

DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432

DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/NAME

# Stripe
STRIPE_LIVE_PUBLIC_KEY=pk_test_6qHHxI9jKSo5TyTEwGj0ft8l00bSZyvD7v
STRIPE_LIVE_SECRET_KEY=sk_test_9VBNc4i2iKEpOuqnjLFY5nPi00z9y0jDxW