<footer class="page-footer text-center font-small mt-4 wow fadeIn">

  <hr class="my-4">

  <!-- Social icons -->
  <div class="pb-4">
    <a href="https://en-gb.facebook.com/business/industries/retail-and-ecommerce" target="_blank">
      <i class="fab fa-facebook-f mr-3"></i>
    </a>

    <a href="https://twitter.com/Ecommerce_es?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">
      <i class="fab fa-twitter mr-3"></i>
    </a>

    <a href="https://www.youtube.com/watch?v=BVMsRltq2yU" target="_blank">
      <i class="fab fa-youtube mr-3"></i>
    </a>

    <a href="https://github.com/Sanperolo" target="_blank">
      <i class="fab fa-github mr-3"></i>
    </a>
  </div>
  <!-- Social icons -->

  <!--Copyright-->
  <div class="footer-copyright py-3">
    © 2020 Copyright:
    <a href="https://github.com/Sanperolo/Django-E-commerce" target="_blank"> Django-E-commerce </a>
  </div>
  <!--/.Copyright-->

</footer>